{% extends 'authapp/base.html' %}
{% load crispy_forms_tags  %}
{% block content %}
    <h1>Hi, {{user.username}}</h1>
    <img src="{{user.image.url}}" class="img-thumbnail" alt="User logo" style="width: 200px; height: 200px">
    <h4>{{user.username}}</h4>
    {%if user.first_name %}<h5>Name: {{user.first_name}} </h5>{% endif %}
    {%if user.age %}<h5> Age: {{user.age}}</h5>{%endif%}
    <h5>Email: {{user.email}}</h5>
    <h5>Date joined: {{user.date_joined}}</h5>
    <hr>
    <h4>Change data</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary my-3">Save</button>
    </form>
{% endblock %}

