{% extends 'mainapp/base.html' %}


    
    {% block content%} 
    

    {% block title %}
    <h1>Товары</h1>
    {% endblock title %} 

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for item in objects %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.cost }}</p>
                    </div>
                    <a href="{% url 'mainapp:product_detail' pk=item.pk %}" class="btn btn-primary my-3">Смотреть</a>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% endblock %}
