{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>{{ post.title }}</h1>
  <img src="{{post.image.url}}" class="img-fluid" alt="{{ post.title }}" >
  <h5>{{ post.description}}</h5>
  <p>Price: {{ post.cost }}</p>
  <p>Quantity: {{ post.quantity }}</p>
  <form method="post" action="{% url 'mainapp:add_to_basket' product_id=post.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Add to basket</button>
  </form>
  <a href="{% url 'mainapp:mainapp' %}" class="btn btn-primary">Back to list</a>
  <h2>Comments</h2>
    <hr>
    <h3>Add a comment</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
    <hr>
    {% for comment in comments %}
    <div class="card">
      <div class="card-header">
        {{ comment.author}} on {{ comment.created_date }}
      </div>
      <div class="card-body">
        <p class="card-text">{{ comment.text|linebreaks }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
  